<script>
const express = require('express');
const router = express.Router();
const db = require('../db');

const id = 1;
const First = res.json(db.query("SELECT FirstName FROM employee WHERE employeeID="+id));
const Last = res.json(db.query("SELECT LastName FROM employee WHERE employeeID="+id));
const Birth = res.json(db.query("SELECT Birthdate FROM employee WHERE employeeID="+id));
const Gender = res.json(db.query("SELECT GenderText FROM employee,gender WHERE employeeID="+id+" AND employee.GenderCode=gender.GenderCode"));
const Race = res.json(db.query("SELECT RaceText FROM employee,race WHERE employeeID="+id+" AND employee.RaceCode=race.RaceCode"));
const Ethnic = res.json(db.query("SELECT EthnicityText FROM employee,ethnicity WHERE employeeID="+id+" AND employee.EthnicityCode=ethnicity.EthnicityCode"));
const Address = res.json(db.query("SELECT FirstName FROM employee WHERE employeeID="+id));
const Phone = res.json(db.query("SELECT FirstName FROM employee WHERE employeeID="+id));
const Depart = res.json(db.query("SELECT DepartmentName FROM employee,department WHERE employeeID="+id+" AND employee.DepartmentID=department.DepartmentID"));
const Role = res.json(db.query("SELECT FirstName FROM employee WHERE employeeID="+id));
//res.render('admin/profile',{First : fir,Last : las,Birth : bd,Gender : gen,Race : rac,Ethnic : eth,Address : addr,Phone : pho,Depart : dep,Role : rol });
</script>
<div>
    <button><Link to="/admin/home">Home</Link></button>
    <h1> Name: <%- First %> <%= Last %></h1>
    <h1>Role: <%= Role %></h1>
    <h1>Department: <%= Depart %></h1>
    <h1>Birth Date: <%= Birth %></h1>
    <h1>Gender: <%= Gender %></h1>
    <h1>Race: <%= Race %></h1>
    <h1>Ethnicity: <%= Ethnic %></h1>
    <h1>Address: <%= Address %></h1>
    <h1>Phone Number: <%= Phone %></h1>
</div>
<script>
/*const express = require('express');
const router = express.Router();
const db = require('../db');

const id = 1;
const fir = db.query("SELECT FirstName FROM employee WHERE employeeID="+id);
const las = db.query("SELECT LastName FROM employee WHERE employeeID="+id);
const bd = db.query("SELECT Birthdate FROM employee WHERE employeeID="+id);
const gen = db.query("SELECT GenderText FROM employee,gender WHERE employeeID="+id+" AND employee.GenderCode=gender.GenderCode");
const rac = db.query("SELECT RaceText FROM employee,race WHERE employeeID="+id+" AND employee.RaceCode=race.RaceCode");
const eth = db.query("SELECT EthnicityText FROM employee,ethnicity WHERE employeeID="+id+" AND employee.EthnicityCode=ethnicity.EthnicityCode");
const addr = db.query("SELECT FirstName FROM employee WHERE employeeID="+id);
const pho = db.query("SELECT FirstName FROM employee WHERE employeeID="+id);
const dep = db.query("SELECT DepartmentName FROM employee,department WHERE employeeID="+id+" AND employee.DepartmentID=department.DepartmentID");
const rol = db.query("SELECT FirstName FROM employee WHERE employeeID="+id);
res.render('admin/profile',{First : fir,Last : las,Birth : bd,Gender : gen,Race : rac,Ethnic : eth,Address : addr,Phone : pho,Depart : dep,Role : rol });*/
</script>